.cart-items {
  list-style: none;
  max-height: 20rem;
  overflow: auto;
}

.section {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section span {
  font-weight: bold;
}

.footer {
  float: inline-end;
}

.footer button {
  cursor: pointer;
  padding: 0.4rem 1.2rem;
  color: #920101;
  background: transparent;
  border: 1px solid #920101;
  border-radius: 1rem;
  /* transition: transform 100ms; */
}

.footer .order {
  margin-left: 1rem;
  background-color: #920101;
  color: white;
}

.footer button:hover,
.footer button:focus {
  /* transform: scale(1.1, 1.1); */
  outline: none;
  background-color: #6b0000;
  color: white;
}
