.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.amount-control {
  font-weight: bold;
}

.amount-control input {
  width: 2.5rem;
  margin-left: 0.5rem;
  padding: 2px;
  border: 1px solid #bebebe;
}

.amount-control input:focus {
  outline: none;
}

.form button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #920101;
  color: white;
}

.form button:hover,
.form button:focus {
  outline: none;
  background-color: #770000;
}
