.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form button {
  cursor: pointer;
  padding: 0.3rem;
  font: inherit;
  border: 1px solid;
  border-radius: 1rem;
  background-color: #920101;
  color: white;
}

.form button:hover,
.form button:focus {
  outline: none;
  background-color: #6b0000;
  border-color: #920101;
}
