.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #920101;
  color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #6b0000;
}

.button:active {
  transform: scale(0.9);
}

.icon {
  width: 1.8rem;
}

.label {
  font-size: 0.85rem;
  margin: 0 0.75rem;
}

.count {
  padding: 0.4rem 0.85rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 40%;
  background-color: #df1616;
}
