* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  background-color: #4b4b4b;
}

@media screen and (max-width: 460px) {
  html {
    font-size: 0.75rem;
  }
}
